<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cotação de Moedas</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
  <header>
    <h1>Cotação de Moedas</h1>
  </header>

  <main>
    <section class="converter">
      <h2>Converter Moeda</h2>
      <form>
        <div class="form-group">
          <label for="from-currency">De:</label>
          <select id="from-currency">
            <option value="USD">Dólar (USD)</option>
            <option value="EUR">Euro (EUR)</option>
            <option value="BRL">Real (BRL)</option>
          </select>
        </div>

        <div class="form-group">
          <label for="to-currency">Para:</label>
          <select id="to-currency">
            <option value="BRL">Real (BRL)</option>
            <option value="USD">Dólar (USD)</option>
            <option value="EUR">Euro (EUR)</option>
          </select>
        </div>

        <div class="form-group">
          <label for="amount">Valor:</label>
          <input type="number" id="amount" placeholder="Digite o valor" />
        </div>

        <button type="submit">Converter</button>
      </form>
    </section>

    <section class="cotacoes">
      <h2>Cotações Atuais</h2>
      <ul>
        <li>USD para BRL: R$ {{dolar}}</li>
        <li>EUR para BRL: R$ {{euro}}</li>

        <!-- <li>BRL para USD: $ -</li> -->
      </ul>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 - Criado por Lucas Santos 😁</p>
  </footer>
</body>
</html>
